<div class="container">
  
  <div  class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input type="text" pInputText />
    </div>
    
    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <input pInputText style="width: 95px" type="text" />
      <label> até </label>
      <input pInputText style="width: 95px"  type="text" />
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>

    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-12">
    
    </div>
  </div>


</div>